<section class="page-section bg-dark" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0"><i><strong>LA PENSIÓN</strong></i></h2>
                <hr class="divider light my-4"/>
                <p class="text-white-50 mb-4"><i>Esta casa es un espacio donde el estudio y el desarrollo personal son una prioridad. Vivir en La Pensión es una experiencia compartida, por este motivo, el respeto y el orden son indispensables. La consideración hacia las personas y las instalaciones, la empatía y el consumo responsable de los recursos, conforman la base para poder garantizar un espacio agradable y familiar que tiene como eje principal el estudio y el desarrollo personal de los residentes.</i></p>
            </div>
        </div>
    </div>
</section>

<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="heading">
            <h2>GALERÍA</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox"><img src="assets/img/carrusel1.jpg" class="card-img-top"></a>
                    <div class="card-body">
                        <h6>Recámaras compartida</h6>
                        <p class="text-muted card-text">Habitaciones compartidos con demás estudiantes.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox"><img src="assets/img/carrusel2.jpg" class="card-img-top"></a>
                    <div class="card-body">
                        <h6>Servicio de Internet</h6>
                        <p class="text-muted card-text">Servicio de Internet para todas la pensión.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox"><img src="assets/img/carrusel3.jpg" class="card-img-top"></a>
                    <div class="card-body">
                        <h6>Espacio recreativo</h6>
                        <p class="text-muted card-text">Lee un libro, escucha música o realiza alguna actividad de recreación.</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox"><img src="assets/img/carrusel4.png" class="card-img-top"></a>
                    <div class="card-body">
                        <h6>Estudia</h6>
                        <p class="text-muted card-text">Estudia en un espacio limpio y seguro.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox"><img src="assets/img/carrusel5.jpg" class="card-img-top"></a>
                    <div class="card-body">
                        <h6>Alimentos</h6>
                        <p class="text-muted card-text">Incluimos en tu renta las tres comidas diarias.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox"><img src="assets/img/carrusel6.jpg" class="card-img-top"></a>
                    <div class="card-body">
                        <h6>Precios</h6>
                        <p class="text-muted card-text">Precio accesible para nuetros estudiantes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

