<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
      <!--Social Networks-->
      <div class="row py-4 d-flex align-items-center">      
        <div class="col-md-12 text-center"> 
            <a href="https://facebook.com/"><i class="fab fa-facebook-f text-muted mr-4"></i></a>         
            <a href="https://twitter.com/"><i class="fab fa-twitter text-muted mr-4"> </i></a>
            <a href="https://instagram.com/"><i class="fab fa-instagram text-muted"> </i></a> 
          </div>
    </div>          
       
      <p class="m-0 text-center text-white">Copyright &copy; Daniela, Isabel, Laura, Carlos</p>
    </div>
    <!-- /.container -->
</footer>