.container{
    padding-bottom: 80px;
}

.table {
    text-align: center;
}

#btnupdate {
    margin-bottom: 10px;
    border-radius: 20px;
}

#btndelete {
    margin-bottom: 10px;
    border-radius: 20px;
}

#titulo {
    text-align: center;
    padding-bottom: 40px;
}

img{
    padding-top: 80px;
    padding-bottom: 80px;
}
